#navbar {
	background-color: #484d6d;
	width: 100%;
	height: 35px;
	position: fixed;
	text-align: center;
}

#navbar button, #m-navbar button {
	-webkit-appearance: none;
	font-family: "Verdana";
	font-size: 1.2em;
	color: #eaeaea;
	background-color: transparent;
	padding: 5px 40px;
	border: none;
	outline: none;
}

#navbar button:hover {
	color: white;
}

#navbar button:active, #m-navbar button:active {
	background-color: #7392b7;
	color: white;
}

#navbar button span {
	font-size: 1.1em;
}

#navbar-space {
	height: 35px;
}

#m-navbar, #m-navbar-btn {
	display: none;
}

#header {
	background-color: transparent;
	text-align: center;
	padding: 50px 0;
}

#header-bg {
	background-color: #7392b7; /*if gradients not supported*/
	background-image: linear-gradient(#484d6d 0%, 5%, #7392b7 50%, 95%, #484d6d 100%);
	width: 100%;
	position: fixed;
	z-index: -2;
}

#contents {
	width: 100%;
	background-color: white;
	padding-bottom: 20px;
}

.subsection {
	padding: 30px 15% 0 15%;
}

h1 { /* "Evalyn Berleant" in header at top of page */
	font-family: "Open Sans", sans-serif;
	font-size: 3em;
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px 3px #484d6d;
	padding: 5px 0;
}

h1 span { /* increase size of first letter (big caps/small caps effect) */
	font-size: 1.2em;
}

h2 { /* subheader at top of page */
	font-family: "Verdana";
	font-size: 1.2em;
	color: #b3c5d7;
}

h3 { /* titles of each content section */
	font-family: "Open Sans", sans-serif;
	font-size: 2.5em;
	font-weight: bold;
	color: #759eb8;
	border-bottom: 2px solid #b3c5d7;
	padding: 5px 0 5px 3px;
	margin-bottom: 20px;
}

h3 span { /* increase size of first letter */
	font-size: 1.05em;
}

h4 { /* subheaders inside of each content section */
	font-family: "Verdana";
	font-size: 1.3em;
	color: black;
	margin: 30px 0 5px 0;
}

p, li, #resume-dl {
	font-family: "Verdana";
	font-size: 1em;
	color: black;
	margin: 2px 0;
	line-height: 1.35em;
}

ul {
	list-style-type: disc;
	margin-left: 30px;
}

li {
	display: list-item;
}

#resume-dl {
	-webkit-appearance: none;
	font-family: "Verdana";
	color: black;
	text-decoration: none;
	background-color: #f5fbfd;
	padding: 5px 20px 5px 15px;
	border: 2px solid #b3c5d7;
	outline: none;
	margin-left: 5px;
}

#resume-dl:hover {
	border: 2px solid darkgray;
	background-color: white;
}

#resume-dl:active {
	border: 2px solid black;
	background-color: #ffffe6;
}

.footnote {
	font-size: .7em;
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

@-ms-viewport {
  width: device-width ;
}

/* mobile specific formatting */
@media screen and (max-width:1050px) {
	#navbar, #navbar-space {
		display: none;
	}

	#m-navbar-btn {
		display: block;
		position: fixed;
		color: white;
		mix-blend-mode: difference;
		font-size: 1.5em;
		padding: 20px 40px;
		right: 0;
		z-index: 2;
	}

	#m-navbar {
		display: block;
		position: fixed;
		-webkit-transition: right .3s ease; /* Safari prior 6.1 */
		transition: right .3s ease;
		right: -500px;
		width: auto;
		padding-top: 20%;
		height: 100%;
		background-color: #484d6d;
		z-index: 1;
	}

	#m-navbar button {
		display: block;
		text-align: right;
		width: 100%;
		background-color: transparent;
		padding: 10px 40px;
	}

	.subsection {
		padding: 30px 5% 0 5%;
	}

	h4 {
		font-size: 1.7em;
	}

	h4 span {
		font-weight: bold;
	}

	p, #resume-dl {
		font-size: 1.3em;
	}
}