#navbar {
	background-color: #484d6d;
	width: 100vw;
	height: 49px;
	position: fixed;
	text-align: center;
	overflow: hidden;
}

#navbar button, #m-navbar button {
	-webkit-appearance: none;
	font-family: "Verdana";
	font-size: 1.2em;
	color: #eaeaea;
	background-color: transparent;
	padding: 12px 40px;
	border: none;
	outline: none;
	transition: all .3s ease;
}

#navbar button:hover, #m-navbar button:hover {
	color: white;
	background-color: #5d6e90;
}

#navbar button:active, #m-navbar button:active {
	background-color: #7392b7;
	color: white;
}

#navbar button span {
	font-size: 1.1em;
}

#navbar-space {
	height: 49px;
}

#m-navbar, #m-navbar-btn {
	display: none;
}

#header {
	background-color: transparent;
	text-align: center;
	padding: 50px 0;
}

#header-bg {
	background-color: #7392b7; /*if gradients not supported*/
	background-image: linear-gradient(#484d6d 0%, 5%, #7392b7 50%, 95%, #484d6d 100%);
	width: 100vw;
	position: fixed;
	z-index: -2;
}

#contents {
	width: 100vw;
	background-color: #f8fbff;
	padding: 30px 0 20px 0;
}

.subsection {
	padding: 25px 4vw 0 4vw;
	margin: 0 11vw 30px 11vw;
	box-shadow: 0 5px 10px #bfbfbf;
	background-color: white;
}

h1 { /* "Evalyn Berleant" in header at top of page */
	font-family: "Open Sans", sans-serif;
	font-size: 3em;
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px 3px #484d6d;
	padding: 5px 0;
}

h1 span { /* increase size of first letter (big caps/small caps effect) */
	font-size: 1.2em;
}

h2 { /* subheader at top of page */
	font-family: "Verdana";
	font-size: 1.2em;
	color: #b3c5d7;
}

h3 { /* titles of each content section */
	font-family: "Open Sans", sans-serif;
	font-size: 2.5em;
	font-weight: bold;
	color: #759eb8;
	border-bottom: 2px solid #b3c5d7;
	padding: 5px 0 5px 3px;
	margin-bottom: 20px;
}

h3 span { /* increase size of first letter */
	font-size: 1.05em;
}

h4 { /* subheaders inside of each content section */
	display: inline-block;
	font-family: "Verdana";
	font-size: 1.5em;
	color: black;
	margin-bottom: 10px;
	margin-top: 5px;
}

h4 span {
	font-weight: bold;
}

a {
	color: #393cb3;
}

a:hover {
	color: black;
}

p, li, .content-btn {
	display: inline-block;
	font-family: "Verdana";
	font-size: 1.2em;
	color: #333333;
	margin-bottom: 20px;
	line-height: 1.8em;
}

ul {
	list-style-type: disc;
	margin-left: 30px;
}

li {
	display: list-item;
}

.content-btn {
	-webkit-appearance: none;
	font-family: "Verdana";
	color: black;
	text-decoration: none;
	background-color: #f5fbfd;
	padding: 5px 18px 5px 18px;
	border: 2px solid #b3c5d7;
	outline: none;
	margin-left: 5px;
	margin-bottom: 28px;
}

.content-btn:hover {
	border: 2px solid darkgray;
	background-color: #fbfbfb;
}

.content-btn:active {
	border: 2px solid black;
	background-color: white;
}

.content-btn:disabled {
	border: 2px solid lightgray;
	background-color: #fbfbfb;
	color: darkgray;
}

.footnote {
	font-size: .7em;
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

@-ms-viewport {
  width: device-width ;
}

/* mobile specific formatting */
@media screen and (max-width:768px) {
	#navbar, #navbar-space {
		display: none;
	}

	#m-navbar-btn {
		display: block;
		position: fixed;
		color: white;
		mix-blend-mode: difference;
		font-size: 1.5em;
		padding: 20px 40px;
		right: 0;
		z-index: 2;
	}

	#m-navbar {
		display: block;
		position: fixed;
		-webkit-transition: right .3s ease;
		transition: right .3s ease;
		right: -500px;
		width: auto;
		padding-top: 20vh;
		height: 100vh;
		background-color: #484d6d;
		z-index: 1;
	}

	#m-navbar button {
		display: block;
		text-align: right;
		width: 100%;
		background-color: transparent;
		padding: 10px 40px;
	}

	.subsection {
		padding: 10px 5vw 0 5vw;
		margin: 0;
		box-shadow: none;
		background-color: transparent;
	}

	#contents {
		background-color: white;
	}
}