@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

@-ms-viewport {
  width: device-width ;
}

/* mobile specific formatting */
@media screen and (max-width:768px) {
	#navbar, #navbar-space {
		display: none;
	}

	#m-navbar-btn {
		display: block;
		position: fixed;
		color: black;
		font-size: 1.5em;
		padding: 20px 40px;
		right: 0;
		z-index: 2;
	}

	#m-navbar {
		display: block;
		position: fixed;
		-webkit-transition: right .3s ease;
		transition: right .3s ease;
		right: -500px;
		width: auto;
		padding-top: 20vh;
		height: 100vh;
		background-color: #484d6d;
		z-index: 1;
		text-align: right;
	}

	#m-navbar form {
		width: 100%;
	}

	#m-navbar button {
		display: block;
		text-align: right;
		width: 100%;
		background-color: transparent;
		color: white;
		padding: 10px 40px;
	}

	#header {
		padding: 20px 0;
	}

	#contents {
		padding: 0 0 20px 0;
	}

	.divider-line, .divider-line-2 {
		display: none;
	}

	img {
		width: 45vw;
	}

	.subsection {
		padding: 10px 5vw 0 5vw;
		margin: 0;
		height: auto;
		box-shadow: none;
		border: none;
		background-color: transparent;
	}

	.video {
		width: 100%;
		height: 60vw;
	}
}