body {
	font-family: 'Montserrat', sans-serif;
	background-color: #f8fbff;
	background-image: linear-gradient(#f8fbff, white);
}

#navbar {
	width: 100vw;
	height: 49px;
	position: fixed;
	text-align: center;
	overflow: scroll;
	z-index: 1000;
	background-color: white;
	border-bottom: solid 3px #7392b7;
}

#navbar button, #m-navbar button {
	-webkit-appearance: none;
	font-size: 1.2em;
	color: #759eb8;
	background-color: transparent;
	padding: 12px 40px;
	border: none;
	outline: none;
}

#navbar button {
	transition: all .3s ease;
}

#navbar button:hover {
	color: white;
	background-color: #7392b7;
}

#navbar button:active, #m-navbar button:active {
	background-color: #7392b7;
	color: white;
}

#navbar button span {
	font-size: 1.1em;
}

form {
	display: inline-block;
}

#navbar-space {
	height: 49px;
}

#m-navbar, #m-navbar-btn {
	display: none;
}

#header {
	background-color: transparent;
	text-align: center;
	padding: 50px 0;
	overflow: hidden;
	margin: 0 auto;
}

#header-bg {
	width: 80vw;
	margin: 0 auto;
	position: fixed;
	z-index: -2;
}

.divider-line {
	background-color: #80b9e0;
	border-radius: 5px;
	width: 50vw;
	height: 5px;
	margin: 0 auto 20px auto;
}

.divider-line-2 {
	background-color: #9fd0f3;
	border-radius: 5px;
	width: 40vw;
	height: 3px;
	margin: 0 auto 20px auto;
}

#contents {
	width: 100vw;
	padding: 30px 0 20px 0;
}

.subsection {
	padding: 21px 4vw 20px 4vw;
	margin: 0 11vw 30px 11vw;
	border: solid 1px #bfbfbf;
	border-radius: 5px;
	background-color: white;
}

h1 { /* "Evalyn Berleant" in header at top of page */
	font-size: 3em;
	font-weight: bold;
	color: #7392b7;
	padding: 5px 0;
}


h1 span { /* increase size of first letter (big caps/small caps effect) */
	font-size: 1.2em;
}

h2 { /* subheader at top of page */
	font-size: 1.2em;
	color: #b3c5d7;
	line-height: 1.2em;
}

h3 { /* titles of each content section */
	display: block;
	font-size: 2.5em;
	font-weight: bold;
	color: #759eb8;
	border-bottom: 2px solid #b3c5d7;
	padding: 5px 0 5px 3px;
	margin-bottom: 20px;
}

h3 span { /* increase size of first letter */
	font-size: 1.05em;
}

h4 { /* subheaders inside of each content section */
	display: inline-block;
	font-size: 1.5em;
	color: black;
	margin-bottom: 5px;
	margin-top: 15px;
	line-height: 1.5em;
}

h4 span {
	font-weight: bold;
}

a {
	color: #393cb3;
}

a:hover {
	color: black;
}

p, li, .content-btn {
	font-size: 1.15em;
	color: #333333;
	line-height: 1.8em;
}

ul {
	list-style-type: disc;
	margin-left: 30px;
}

li {
	display: list-item;
}

.content-btn {
	-webkit-appearance: none;
	color: black;
	text-decoration: none;
	background-color: #f5fbfd;
	padding: 10px 18px 10px 18px;
	border: 2px solid #b3c5d7;
	outline: none;
	margin-left: 5px;
}

.content-btn:hover {
	border: 2px solid darkgray;
	background-color: #fbfbfb;
}

.content-btn:active {
	border: 2px solid black;
	background-color: white;
}

.content-btn:disabled {
	border: 2px solid lightgray;
	background-color: #fbfbfb;
	color: darkgray;
}

.footnote {
	font-size: .7em;
	font-style: italic;
	margin-bottom: 30px;
}

.subtitle {
	font-size: .7em;
	font-style: italic;
	margin-bottom: 0;
}